{{#> templates/landing-pages 
title="Portal da Câmara dos Deputados" 
description="Últimas Notícias no Portal da Câmara dos Deputados"
main-heading="Últimas Notícias"
breadcrumbs-itens='[{"rotulo":"Notícias", "link":"/noticias"}]'
}}

{{#*inline "content-block-landing-pages"}}
<div class="noticias-conteiner">
    {{> pages/agencia/ultimas-noticias/_conteudo-ultimas-noticias}}
</div>
{{/inline}}

{{#*inline "custom-head-block"}}
<link rel="stylesheet" href="{{baseUrlTema}}/comunicacao/ultimas-noticias.css">
{{/inline}}

{{#*inline "custom-scripts-block"}}
<script src="{{baseUrlTema}}/comunicacao/ultimas-noticias.js"></script>
{{/inline}}

{{/templates/landing-pages}}