{{#if finish}}

    <div class="user-feedback__modal user-feedback__modal--finish">
        <div id="user-feedback-finish" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="user-feedback-finish-heading">
            <div class="modal-dialog modal-user-feedback__dialog" role="document">
                <div class="modal-content modal-user-feedback__content">

                    <div class="modal-header modal-user-feedback__header">
                        <span id="user-feedback-finish-heading" class="modal-user-feedback__heading">Mensagem enviada</span>
                        <button type="button" class="close modal-user-feedback__close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body modal-user-feedback__body">
                        <p>Sua mensagem foi enviada.</p>
                        <button type="button" class="button" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

{{/if}}