<div class="container container--error" style="max-width: 720px; margin: 5% auto;">
    <div class="bloco-erro">
        <h1 class="bloco-erro__titulo">{{this.categoria}}</h1>
        <p>Essa categoria não tem programas para ser exibdos no momento.</p>
    </div>
</div>    