<aside class="g-hot-call">
  <div class="g-hot-call__container">
    <p class="g-hot-call__content">
      <a class="g-hot-call__link" href="/noticias{{destaqueTopo.link}}">
        <span class="g-hot-call__text">
          <span class="g-hot-call__badge">Urgente</span>
          {{destaqueTopo.titulo}}
        </span>
      </a>
    </p>
  </div>
</aside>