<section class="secao-hot-call">
  <div class="g-hot-call g-hot-call--with-icon">
    <div class="g-hot-call__container">
      <p class="g-hot-call__content">
        <a class="g-hot-call__link" href="{{destaqueTopo.link}}">
          <span class="g-hot-call__icon-container">
            <span class="g-hot-call__icon g-hot-call__icon--chat fas fa-comments"></span>
          </span>
          <span class="g-hot-call__text">
            {{destaqueTopo.titulo}}
          </span>
        </a>
      </p>
    </div>
  </div>
</section>