<div id="eh-bloco-entenda" class="l-jornalismo-entenda__entenda eh-bloco-dinamico eh-noedt">
    <section class="secao-entenda">
        <div class="container fundo-2 container--entenda">

            <h2 class="titulo-secao titulo-secao--sem-borda titulo-secao--entenda eh_noedt"><a href="#"
                    class="titulo-secao--com-link__link">Entenda</a></h2>

            <article class="g-chamada eh_edt">
                <iframe width="385" height="261" src="https://www.youtube.com/embed/-X0WZTaA4gI?controls=0"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <span
                    class="g-chamada__retranca g-chamada__retranca--destacada g-chamada__retranca--fundo-red-orange ehf_tema">Brumadinho</span>

                <div class="g-chamada__destaque-lateral g-chamada__destaque-lateral--red-orange">
                    <h3 class="g-chamada__titulo">
                        <a class="g-chamada__titulo-link" href=""><span class="ehf_titulo">Câmara aprova projetos
                                sobre segurança de barragens</span></a>
                    </h3>
                </div>
            </article>
        </div>
    </section>
</div>