<div class="fundo-1 assessoria-hotsites">
  <div class="container">
    <section class="l-lateral-heading">
      <div class="l-lateral-heading__heading">
        <h2 class="titulo-secao titulo-secao--com-link">
          <a href="https://www2.camara.leg.br/comunicacao/camara-noticias/camara-destaca"
            class="titulo-secao--com-link__link">
            <span class="titulo-secao__texto link-com-icone">Hotsites</span>
          </a>
        </h2>
        <span class="descricao-secao">Páginas temporárias de <br />divulgação temática</span>
      </div>

      <div class="l-lateral-heading__body">

        <div class="js-sly u-no-fouc">
          <!-- slider -->
          <ul class="l-tiles">
            <!-- slider__list -->
            <li class="l-tiles__tile l-tiles__tile--xl-flex-2">
              <div class="link-hotsite">
                <a href="https://www2.camara.leg.br/comunicacao/camara-noticias/camara-destaca/200-anos-de-independencia-do-brasil"
                  class="link-hotsite__link">
                  <span class="link-hotsite__icone-container" aria-hidden="true">
                    <span class="icone-circulo-mapa-brasil"></span>
                  </span>
                  <span class="link-hotsite__texto-container">
                    200 anos de Independência do Brasil
                  </span>
                </a>
              </div>
            </li>
            <li class="l-tiles__tile l-tiles__tile--xl-flex-2">
              <div class="link-hotsite">
                <a href="https://www.camara.leg.br/temas/reforma-da-previdencia"
                  class="link-hotsite__link">
                  <span class="link-hotsite__icone-container" aria-hidden="true">
                    <span class="icone-circulo-previdencia"></span>
                  </span>
                  <span class="link-hotsite__texto-container">
                    Reforma da Previdência
                  </span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>