<section class="secao-banners">
    <div class="container">
        <h2 class="sr-only">Conteúdo Relacionado</h2>

        <div class="banners-container">
            <ul class="l-grid-banners" aria-label="Conteúdo Relacionado">
                <li class="l-grid-banners__item">
                    <a href="" class="banner banner--guia button button--big-circular button--xl">
                        <span class="banner__texto">Guia para Jornalistas</span>
                    </a>
                </li>
        
                <li class="l-grid-banners__item">
                    <a href="" class="banner banner--cred button button--big-circular button--xl">
                        <span class="banner__texto">Credenciamento <br />de Imprensa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>